body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, grey, #fbc2eb);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column; /* Added to stack elements vertically */
}

h1 {
  color: #333;
  margin-bottom: 30px; /* Increased margin */
  font-size: 48px; /* Increased font size */
  border-bottom: 2px solid #333; /* Add border */
  padding-bottom: 20px; /* Add padding */
}

input[type="file"] {
  background-color: #333;  /*Darker background color*/
  color: whitesmoke; /* White text color */
  padding: 18px 20px; /* Adjusted padding */
  border: none;
  border-radius: 25px; /* Increased border-radius for a rounded look */
  margin-bottom: 20px; /* Increased margin */
  width: 300px; /* Set a fixed width */
  font-size: 20px; /* Decreased font size */
  font-family: "Arial", sans-serif; /* Specify a font family */
  outline: none; /* Remove outline */
  transition: border-color 0.3s; /* Added transition for border color change */
}

input[type="file"]:focus {
  border-color: whitesmoke; /* Darker border color on focus */
}

button {
  background-color: #333; /* Darker button color */
  color: white; /* White text color */
  padding: 18px 36px; /* Increased padding */
  border: none;
   /*border: 2px solid whitesmoke; /*Thinner border with blue color */
  cursor: pointer;
  border-radius: 25px; /* Increased border-radius for a rounded look */
  margin-bottom: 20px; /* Increased margin */
  transition: background-color 0.3s, transform 0.3s; /* Added transform transition for a smooth hover effect */
  font-size: 24px; /* Increased font size */
}

button:hover {
  background-color: whitesmoke; /* Darker blue color on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}
